:root {
  /* IRIS */
  --color-primary-brand: #4c59e6;
  /* OCEAN */
  --color-pressed-state: #404BBF;
  /* NAVY BLUE */
  --color-dark: #2E2F42;
  /* GREEN */
  --color-success: #31D0AA;
  /* SLATE */
  --color-text: #434455;
  /* LIGHT SLATE */
  --color-subtle-text: #8E8F99;
  /* CORNFLOWER */
  --color-accent: #E7E9FC;
  /* CLOUD */
  --color-light: #F4F4FD;
  /* NAVY BLUE MODAL*/
  --color-modal-overlay: rgba(46, 47, 66, 0.4);
  /* GREY */
  --color-hero-background: rgba(46, 47, 66, 0.7);
  /* WHITE */
  --color-white: #fff;
}


/* Reset */
body {
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Components */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

.text-centered {
  text-align: center;
}

/* Utility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.header {
  color: var(--color-dark);
}

.header .container {
  display: flex;
  align-items: center;
}

.header .link {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .link:hover,
.header .link:focus,
.current {
  color: var(--color-pressed-state)
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo>span {
  color: var(--color-primary-brand);
}

.nav .logo {
  margin-right: 76px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item {
  font-weight: 500;
}

.nav-link {
  display: block;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Hero */
.hero {
  color: var(--color-white);
  background-color: var(--color-dark);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  padding-bottom: 48px;
}

.hero .button {
  display: block;
  background-color: var(--color-primary-brand);
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  margin-left: auto;
  margin-right: auto;
}
